* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* The padding and border are included in the width and height. */
}

body {
    height: 100vh; /* vh = 1% viewport height. */
    display: flex; /* To center vertically '.memory game' container. */
    background-color: #060AB2;
}

.main-board {
    /* Desktop View: the board always display in all screen (without vertical scrolling) */
    height: 70vh; 
    width: 70vh;
    /*border: 2px solid aqua;*/
}

.memory-game {
    /* Desktop View: the board always display in all screen (without vertical scrolling) */
    height: 70vh; 
    width: 70vh;
    margin: auto; /* To center horizantally '.memory game' container. */
    display: flex; /* Row distribution, for all elements same size. */
    flex-wrap: wrap; /* Whether the flexible items should wrap or not. */
    perspective: 1000px; /* Define how far the object is away from the user. */
    /*border: 2px solid aqua;*/
    pointer-events: auto;
}

@media (max-width: 979px) and (orientation:portrait) {
    .memory-game {
        height: 100vw;
        width: 100vw;
    }
}

@media (max-width: 979px) and (orientation:landscape) {
    .memory-game {
        height: 100vh;
        width: 100vh;
    }
}

.memory-card {
    /*width: calc(25% - 10px); /* To avoid desborder size of '.memory-card' respect '.memory-game'. */
    /*height: calc(33.3333% - 10px); /* Same. */
    margin: 5px; /* Space between cards. */
    position: relative;
    transform: scale(1); /* Original size. */
    transform-style: preserve-3d; /* 3D effect. */
    transition: transform .5s;
    /*border: 2px solid aqua;*/
}

.memory-card:active { 
    transform: scale(.97); /* Reduce the size image to 97%. */
    transition: transform .2s; /* Soft transition. */
}

.memory-card.flip {
    transform: rotateY(180deg); /* When this class appears then it will be rotate in Y-axis, 180 degrees. */
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; /* Put front-face over back-face. */
    border-radius: 5px;
    background-color: #1c7ccc;
    backface-visibility: hidden; /* backface (specially) of '.front-face' will hidde after rotation. */
    /*border: 2px solid deeppink;*/
}

.front-face {
    transform: rotateY(180deg); /* When is rotated, the frontface of '.back-face' will appear. */
}

/* --- MODAL --- */
.modal-confirm {		
    color: #636363;
    color: white;
	width: 325px;
    font-size: 14px;
    
}

.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
	border-bottom: none;   
    position: relative;
}

.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}

.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}

.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}

.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}


/* --- MODAL Aditional --- */
.modal-backdrop {
    background-color: transparent;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px solid;
    border-color: rgba(255, 255, 255, 0.3);
}

.modal-title, .modal-body {
    color: white;
    text-shadow: black 0px 0px 10px;
}

.modal-image {
    width: 100px;
    height: 100px;
}

/* Fixed Vertical Scroll https://github.com/twbs/bootstrap/issues/30647 */
.modal.modal-static .modal-dialog {
    -webkit-transform: none !important;
    transform: none !important;
}